.navbar{
    height: 60px;
    background-color: #003580;
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .navItems{
    display: flex;
    align-items: center;
    gap: 20px
  }
  .navButton{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #003580;
    border-radius: 1rem;
  }